# This is a sample .env file for the admin-api-gateway service
# The original file should be named config.env

PORT=:50051
JwtTokenExpiryInMinutes=14400

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=govserviceapp_accounts
DB_PORT=5432

TWILIO_ACCOUNT_SID=thisisSampleAccountSIDbfdfdsfdsfdsfdfds
TWILIO_AUTH_TOKEN=sampleStringjfjkdsjfkjdskfdsfjdlfjdsfj
TWILIO_SERVICE_SID=sampleStringjfjkdsjfkjdskfdsfjdlfjdsfj

DEVMODE_BYPASS_TWILIO=true

AGENCIES_SVC_URL=localhost:50053

ENVIRONMENT="development"

EMAIL_FROM=myemail@gmail.com
EMAIL_APP_PASSWORD="samp lePa sswo rdrd"
SMTP_SERVER_ADDRESS=smtp.gmail.com
SMTPS_PORT=587